* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #000;
}

canvas {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -moz-image-rendering: -moz-crisp-edges;
    -webkit-image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}